.bgc-fa {
  background-color: #FAFAFA;
}
.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #489CFF;
  color: #fff;
  text-align: center;
}
.ft30 {
  font-size: 30px;
}
.ft20 {
  font-size: 20px;
}
.ft16 {
  font-size: 16px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr35 {
  margin-right: 35px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*资产详情*/
.myAsset {
  margin: 0;
}
.myAsset .myAsset-top {
  width: 100%;
  height: 226px;
  background: url(../images/asset-bg.png) center top no-repeat;
  background-size: 100% 100%;
}
.myAsset .myAsset-top .myAsset-tab {
  padding-top: 28px;
}
.myAsset .myAsset-top .myAsset-tab li {
  font-size: 15px;
  float: left;
  color: #AAD1FF;
  border-left: solid 1px #AAD1FF;
  width: 33%;
  text-align: center;
}
.myAsset .myAsset-top .myAsset-tab li:first-child {
  border-left: none;
}
.myAsset .myAsset-top .myAsset-tab li.on {
  color: #fff;
}
.myAsset .myAsset-top .myAsset-rateMoneyTab {
  margin-top: 30px;
  position: relative;
  z-index: 3;
}
.myAsset .myAsset-top .myAsset-rateMoneyTab a {
  display: block;
  position: absolute;
  top: 7px;
  z-index: 4;
  width: 10px;
  height: 18px;
  background: url(../images/sprite-asset.png) 0px 0px no-repeat;
}
.myAsset .myAsset-top .myAsset-rateMoneyTab a.myAsset-prev {
  background-position: -101px 0px;
  left: 20px;
}
.myAsset .myAsset-top .myAsset-rateMoneyTab a.myAsset-next {
  background-position: -120px 0px;
  right: 20px;
}
.myAsset .myAsset-top .myAsset-rateMoneyTab .myAsset-rateMoney {
  font-size: 14px;
  height: 33px;
  line-height: 33px;
  display: none;
  text-align: center;
  color: #fff;
}
.myAsset .myAsset-top .myAsset-rateMoneyTab .myAsset-rateMoney span {
  font-size: 30px;
  color: #fff;
}
.myAsset .myAsset-top .myAsset-allMoney {
  margin-top: 38px;
}
.myAsset .myAsset-top .myAsset-allMoney > div {
  width: 50%;
}
.myAsset .myAsset-top .myAsset-allMoney > div label {
  color: #AAD1FF;
  font-size: 13px;
}
.myAsset .myAsset-top .myAsset-allMoney > div div {
  font-size: 18px;
  color: #fff;
  margin-top: 5px;
}
.myAsset .myAsset-top .myAsset-allMoney .myAsset-allMoney-fl {
  float: left;
  border-right: solid 1px #AAD1FF;
  text-indent: 25px;
}
.myAsset .myAsset-top .myAsset-allMoney .myAsset-allMoney-fr {
  float: right;
  text-align: right;
  text-align: center;
}
.myAsset .myAsset-operation {
  background-color: #fff;
  padding: 11px 0px;
  border-bottom: solid 1px #eee;
}
.myAsset .myAsset-operation a {
  float: left;
  width: 50%;
  font-size: 13px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: #023156;
}
.myAsset .myAsset-operation a i {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  background: url(../images/sprite-asset.png) 0px 0px no-repeat;
}
.myAsset .myAsset-operation a.myAsset-rech {
  border-right: solid 1px #F7F7F7;
}
.myAsset .myAsset-operation a.myAsset-rech i {
  top: 4px;
  width: 27px;
  height: 18px;
  background-position: -21px -1px;
}
.myAsset .myAsset-operation a.myAsset-cash i {
  top: 3px;
  width: 24px;
  height: 21px;
  background-position: -63px 0px;
  margin-bottom: -2px;
}
.myAsset .myAsset-hold {
  font-size: 14px;
  color: #023156;
  height: 44px;
  line-height: 44px;
  padding: 0px 20px;
  margin-top: 12px;
  background-color: #fff;
  border-bottom: solid 1px #eee;
  border-top: solid 1px #eee;
}
.myAsset .myAsset-hold a {
  float: right;
  font-size: 14px;
  color: #489CFF;
}
.myAsset .myAsset-hold a i {
  float: right;
  height: 13px;
  padding-left: 17px;
  margin-top: 16px;
  background: url(../images/sprite-asset.png) 9px -4px no-repeat;
}
.myAsset .myAsset-dataList {
  margin-top: 12px;
  background-color: #fff;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  position: relative;
  z-index: 3;
}
.myAsset .myAsset-dataList .icon-state {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 43px;
  height: 43px;
}
.myAsset .myAsset-dataList .state-hkz {
  background: url(../images/myAsset-hkz.png) center no-repeat;
}
.myAsset .myAsset-dataList .title {
  padding: 0px 20px;
  color: #023156;
  font-size: 16px;
  height: 48px;
  line-height: 48px;
  border-bottom: solid 1px #eee;
}
.myAsset .myAsset-dataList .title span {
  color: #FF8038;
  margin-left: 12px;
}
.myAsset .myAsset-dataList .cont {
  padding: 6px 20px 16px;
}
.myAsset .myAsset-dataList .cont li {
  margin-top: 12px;
  color: #BAB7BD;
  font-size: 16px;
  float: left;
  width: 33.3333%;
}
.myAsset .myAsset-dataList .cont li span {
  color: #023156;
}
.myAsset .myAsset-dataList .cont li span i {
  font-size: 13px;
  color: #023156;
}
.myAsset .myAsset-dataList .cont li span.yellow {
  color: #FF8038;
}
.myAsset .myAsset-dataList .cont .cont-time {
  margin-top: 20px;
  color: #BAB7BD;
  font-size: 13px;
  height: 32px;
  line-height: 32px;
}
.myAsset .myAsset-dataList .cont .cont-time span {
  color: #BAB7BD;
}
.myAsset .myAsset-dataList .cont .cont-time a {
  float: right;
  background-color: #489CFF;
  color: #fff;
  text-align: center;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 90px;
  height: 32px;
}
/*资产-账户余额*/
.myAssetAccount {
  margin: 0;
}
.myAssetAccount .myAssetAccount-top {
  padding: 0px 20px;
  height: 85px;
  background-color: #489CFF;
}
.myAssetAccount .myAssetAccount-top li {
  font-size: 13px;
  float: left;
  width: 40%;
  margin-top: 12px;
  color: #AAD1FF;
}
.myAssetAccount .myAssetAccount-top li span {
  font-size: 16px;
  color: #fff;
}
.myAssetAccount .myAssetAccount-title {
  padding: 0px 20px;
  height: 38px;
  line-height: 38px;
}
.myAssetAccount .myAssetAccount-tab {
  background-color: #fff;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
.myAssetAccount .myAssetAccount-tab li {
  float: left;
  width: 33.33333%;
  text-align: center;
}
.myAssetAccount .myAssetAccount-tab li a {
  color: #BAB7BD;
  display: inline-block;
  height: 45px;
  line-height: 45px;
  padding: 0px 20px;
}
.myAssetAccount .myAssetAccount-tab li.on a {
  color: #489CFF;
  border-bottom: solid 1px #489CFF;
}
.myAssetAccount .myAssetAccount-tab-t li {
  height: 38px;
  line-height: 38px;
  font-size: 13px;
  color: #BAB7BD;
  float: left;
  width: 33.3333%;
  text-align: center;
  border-bottom: solid 1px #eee;
}
.myAssetAccount .myAssetAccount-list {
  display: none;
}
/*# sourceMappingURL=assets.css.map */
