.btn {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #489CFF;
  color: #fff;
  text-align: center;
}
.ft30 {
  font-size: 30px;
}
.ft20 {
  font-size: 20px;
}
.ft16 {
  font-size: 16px;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.mr20 {
  margin-right: 20px;
}
.mr35 {
  margin-right: 35px;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
/*投资*/
.bgc-fa {
  background-color: #FAFAFA;
}
.grayColor {
  color: #BAB7BD;
}
.yellow {
  color: #FF8038;
}
.invest {
  margin: 0;
}
.invest .invest-tab {
  box-shadow: 0px 2px 2px #F6FAFF;
  background-color: #fff;
  height: 45px;
}
.invest .invest-tab li {
  float: left;
  height: 45px;
  line-height: 45px;
  text-align: center;
  width: 33.33333%;
}
.invest .invest-tab li a {
  font-size: 15px;
  color: #B3C3D8;
}
.invest .invest-tab li.on a {
  color: #489CFF;
  height: 45px;
  line-height: 45px;
  display: inline-block;
  border-bottom: solid 1px #489CFF;
}
.invest .invest-list {
  display: none;
  margin-top: 2px;
}
.invest .invest-list > div {
  background-color: #fff;
}
.invest .invest-sumary .title {
  padding: 0px 20px;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  border-bottom: solid 1px #F4F4F4;
  color: #023156;
}
.invest .invest-sumary .title i {
  display: inline-block;
  width: 22px;
  margin-right: 5px;
  text-align: center;
  height: 23px;
  line-height: 23px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  color: #fff;
}
.invest .invest-sumary .title i.icon-z {
  background-color: #21D3AC;
}
.invest .invest-sumary .cont {
  padding: 0px 20px 30px;
  border-bottom: solid 1px #F1F1F1;
}
.invest .invest-sumary .cont .cont-1 {
  padding-top: 19px;
}
.invest .invest-sumary .cont .cont-1 span {
  background-color: #489CFF;
  color: #fff;
  padding: 4px;
  display: inline-block;
}
.invest .invest-sumary .cont .cont-1 span:first-child {
  margin-right: 10px;
}
.invest .invest-sumary .cont .cont-2 {
  margin-top: 19px;
}
.invest .invest-sumary .cont .cont-2 span {
  font-size: 13px;
  color: #023156;
}
.invest .invest-sumary .cont .cont-2 span.gay {
  color: #BAB7BD;
  margin-right: 10px;
}
.invest .invest-sumary .cont .cont-3 {
  margin-top: 10px;
}
.invest .invest-sumary .cont .cont-3 .invest-jdg {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  width: 75%;
  margin-right: 10px;
  display: inline-block;
  height: 8px;
  background-color: #E2E8EF;
}
.invest .invest-sumary .cont .cont-3 .invest-jdg .invest-jd {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 8px;
  background-color: #489CFF;
}
.invest .invest-sumary .cont .cont-3 span {
  font-size: 13px;
  color: #023156;
}
.invest .invest-sumary .cont .cont-4 {
  margin-top: 30px;
  padding-bottom: 28px;
  border-bottom: solid 1px #EDEDED;
}
.invest .invest-sumary .cont .cont-4 > div {
  display: inline-block;
}
.invest .invest-sumary .cont .cont-4 > div:first-child {
  border-right: solid 1px #F6F6F6;
  margin-right: 35px;
  padding-right: 7px;
}
.invest .invest-sumary .cont .cont-4 > div p,
.invest .invest-sumary .cont .cont-4 > div span {
  color: #FF8038;
  font-size: 13px;
}
.invest .invest-sumary .cont .cont-4 > div p.ft20,
.invest .invest-sumary .cont .cont-4 > div span.ft20 {
  font-size: 20px;
}
.invest .invest-sumary .cont .cont-4 > div p.ft18,
.invest .invest-sumary .cont .cont-4 > div span.ft18 {
  font-size: 18px;
}
.invest .invest-sumary .cont .cont-4 > div p.txt {
  margin-top: 15px;
  font-size: 13px;
  color: #023156;
}
.invest .invest-sumary .cont .cont-5 {
  margin-top: 28px;
}
.invest .invest-sumary .cont .cont-5 span {
  color: #023156;
  font-size: 11px;
}
.invest .invest-sumary .cont .cont-5 span.gay {
  color: #BAB7BD;
  margin-right: 10px;
}
.invest .invest-sumary .cont .cont-6 {
  margin-top: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border: solid 1px #E2E8EF;
  position: relative;
  z-index: 2;
  padding: 10px 60px;
}
.invest .invest-sumary .cont .cont-6 a {
  position: absolute;
  z-index: 3;
  top: 0;
  width: 48px;
  height: 46px;
  background: url(../images/sprite-invest.png) 0px 0px no-repeat;
}
.invest .invest-sumary .cont .cont-6 a.invest-prev {
  left: 1px;
  background-position: 15px 21px;
  border-right: solid 1px #E2E8EF;
}
.invest .invest-sumary .cont .cont-6 a.invest-next {
  right: 1px;
  border-left: solid 1px #E2E8EF;
  background-position: 15px -11px;
}
.invest .invest-sumary .cont .cont-6 input {
  display: block;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  height: 26px;
  line-height: 26px;
  font-size: 16px;
  border: none;
  width: 100%;
  text-align: center;
  color: #D6DCE2;
}
.invest-repay,
.invest-balan {
  height: 44px;
  line-height: 44px;
  border-bottom: solid 1px #eee;
  background-color: #fff;
  padding: 0px 20px;
  font-size: 14px;
  color: #023156;
}
.invest-repay i,
.invest-balan i {
  float: left;
  width: 18px;
  height: 18px;
  margin-top: 13px;
  margin-right: 10px;
  background: url(../images/sprite-invest.png) 0px 0px no-repeat;
}
.invest-repay i.icon-repay,
.invest-balan i.icon-repay {
  background-position: 0px -129px;
}
.invest-repay i.icon-balan,
.invest-balan i.icon-balan {
  background-position: 0px -71px;
}
.invest-repay i.icon-right,
.invest-balan i.icon-right {
  float: right;
  margin-right: 0;
  background-position: 4px -153px;
}
.invest-repay {
  border-top: solid 1px #eee;
  margin-top: 15px;
}
.invest-buy {
  display: block;
  height: 49px;
  line-height: 49px;
  text-align: center;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
}
/*项目认购*/
.investBuy {
  margin: 0;
}
.investBuy .investBuy-title {
  padding: 0px 20px;
  background-color: #fff;
  height: 49px;
  line-height: 49px;
  box-shadow: 0px 2px 2px #EFF4FA;
  color: #023156;
}
.investBuy .investBuy-title span {
  color: #BAB7BD;
  margin-right: 20px;
}
.investBuy .investBuy-title i {
  display: inline-block;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  width: 22px;
  background-color: #21D3AC;
  height: 23px;
  line-height: 23px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
.investBuy .investBuy-coup {
  background-color: #fff;
  margin-top: 15px;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
  padding: 0px 20px;
}
.investBuy .investBuy-coup > div {
  height: 49px;
  line-height: 49px;
}
.investBuy .investBuy-coup > div:first-child {
  border-bottom: solid 1px #eee;
}
.investBuy .investBuy-coup > div,
.investBuy .investBuy-coup > div span {
  font-size: 15px;
}
.investBuy .investBuy-coup > div.coup-bottom .checkbox {
  position: relative;
  z-index: 2;
  top: 2px;
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 5px;
  background: url(../images/sprite-invest.png) -1px -108px no-repeat;
}
.investBuy .investBuy-coup > div.coup-bottom .checkbox i {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  display: inline-block;
  width: 16px;
  height: 16px;
}
.investBuy .investBuy-coup > div.coup-bottom .checkbox i.checked-on {
  background: url(../images/sprite-invest.png) -1px -89px no-repeat;
}
.investBuy .investBuy-coup > div.coup-bottom .checkbox .coup-checkbox {
  display: none;
}
.investBuy .investBuy-txt {
  height: 36px;
  line-height: 36px;
  border-bottom: solid 1px #eee;
  font-size: 14px;
  color: #023156;
  padding: 0px 20px;
}
.investBuy .investBuy-sel {
  position: relative;
  z-index: 2;
}
.investBuy .investBuy-sel select {
  width: 100%;
  padding: 0px 20px;
  border: none;
  border-bottom: solid 1px #eee;
  height: 43px;
  line-height: 43px;
  color: #DADFE5;
  font-size: 14px;
}
.investBuy .investBuy-sel img {
  position: absolute;
  z-index: 3;
  right: 20px;
  top: 18px;
}
.investBuy .investBuy-ipt {
  background-color: #fff;
  padding: 10px 20px;
  border-bottom: solid 1px #eee;
}
.investBuy .investBuy-ipt input {
  width: 100%;
  color: #DADFE5;
  font-size: 14px;
  border: none;
  height: 24px;
  line-height: 24px;
}
.investBuy .investBuy-payMoney {
  text-align: center;
  margin-top: 90px;
}
.investBuy .investBuy-sure {
  color: #fff;
  text-align: center;
  background-color: #489CFF;
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  display: block;
  margin-top: 25px;
}
/*# sourceMappingURL=invest.css.map */
