
// Created by libo on 2017/5/15.
// 通用模板-配色

$border-color:#ddd;
$border-color-active:#F18216;

$red:#EB5149;
$orange:#FF6C00;
$orange2:#F7871E;
$green:#1BAF48;
$blue:#3293D7;
$blue2:#0048FF;
$grey:#ccc;

